################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exmaple_2
/Examples of Insertion sort algorithms
/SearchingSort
