################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exmaple_2
/Examples of Insertion sort algorithms
/SearchingSort
/Homework1/.vs/Homework1
/Elementary_Structures/.vs/Elementary_Structures/FileContentIndex
/Elementary_Structures/.vs/Elementary_Structures/v17
